@font-face {
  font-family: "Regular";
  src: url("../fonts/Regular.woff2") format("woff2"),
    url("../fonts/Regular.woff2") format("woff");
}

@font-face {
  font-family: "MBold";
  src: url("../fonts/Bold.woff2") format("woff2"),
    url("../fonts/Bold.woff2") format("woff");
}
